/* GLOBAL RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

/* COLORS */

:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --accent-color: #0078d4;
  --card-bg: #f5f5f5;
  --card-bg: #f9f9f9;
  --item-bg: #ffffff;
}

html.dark {
  --bg-color: #121212;
  --text-color: #e5e5e5;
  --accent-color: #4ea8de;
  --card-bg: #1e1e1e;
  --item-bg: #2c2c2c;
}

/* ELEMENTS */

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: 10px;
  /* display: grid;
  align-items: center; */
  /* padding-top: 5rem; */
  transition: background 0.2s ease, color 0.2s ease;
}

.wrapper {
  padding: 5rem 20rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

a,
a:link,
a:visited {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.2s ease;
}

input,
textarea,
button {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}

input,
textarea,
button,
a,
a:link,
a:visited {
  outline: none;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease, box-shadow 0.2s ease;
}

input:focus-visible,
textarea:focus-visible,
button:focus-visible,
a:focus-visible,
a:link:focus-visible,
a:visited:focus-visible {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 2px var(--accent-color);
}

.btn {
  background: none;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
}

.btn:hover,
.btn:active {
  background-color: var(--accent-color);
  color: var(--bg-color);
  border-color: var(--accent-color);
  box-shadow: 0 0 10px
    color-mix(in srgb, var(--text-color) 20%, transparent 80%);
  cursor: pointer;
}

.btn:active {
  box-shadow: none;
}

/* ANIMATIONS */

@keyframes animateIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate {
  animation: animateIn 0.2s ease-out forwards;
}

/* HEADER  */

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}

.header-utilities {
  display: flex;
  align-items: center;
  gap: 2rem;
}

main {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2rem;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: stretch;
  /* flex: 1; */
}

section {
  background-color: var(--card-bg);
  padding: 1.5rem 2rem 2rem;
  border-radius: 5px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}

#header-date {
  font-size: 1rem;
}

/* WEATHER MODULE */

.weather-module {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-current {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.weather-span {
  font-size: 1.5rem;
}

/* NEWS MODULE */

.news-module {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.news-article,
.news-article:link,
.news-article:visited {
  display: block;
  background-color: var(--item-bg);
  /* padding: 1rem; */
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  /* MAYBE EXPERIMENT WITH 5PX BLUR, MAYBE CHANGE OTHER PROPERTIES */

  transition: background-color 0.2s ease, transform 0.2s ease, filter 0.2s ease,
    box-shadow 0.2s ease;
}

.news-article:hover {
  filter: opacity(90%);
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.news-image {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.news-text {
  padding: 1rem;
}

.news-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.news-description {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

/* TODO MODULE*/

/* section#todo {
  flex-grow: 1;
} */

input {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.btn-add-todo {
  margin-left: 1rem;
  background-color: var(--bg-color);
}

ul {
  list-style-type: none;
}

li {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-todo-delete {
  background: none;
  color: tomato;
  border-color: transparent;
  margin-left: 0.5rem;
}

.btn-todo-delete:hover,
.btn-todo-delete:active {
  color: white;
  background-color: tomato;
  border-color: transparent;
  box-shadow: none;
}

/* TRENDING REPOS MODULE */

.trending-repo,
.trending-repo:link,
.trending-repo:visited {
  display: block;
  background-color: var(--item-bg);
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  /* MAYBE EXPERIMENT WITH 5PX BLUR, MAYBE CHANGE OTHER PROPERTIES */

  transition: background-color 0.2s ease, transform 0.2s ease, filter 0.2s ease,
    box-shadow 0.2s ease;
}

.trending-repo:last-child,
.trending-repo:link:last-child,
.trending-repo:visited:last-child {
  margin-bottom: 0;
}

.trending-repo:hover {
  filter: opacity(90%);
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.trending-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.trending-description {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.trending-language {
  font-size: 0.9rem;
  font-weight: 500;
}

/* FOOTER */

footer {
  padding: 4rem 0;
}

.footer-p {
  color: color-mix(in srgb, var(--text-color) 50%, transparent 50%);
  font-size: 1rem;
}
